<html>
    <head>
            <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
            <script
              src="https://code.jquery.com/jquery-3.1.1.min.js"
              integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
              crossorigin="anonymous"></script>
            <script src="semantic/dist/semantic.min.js"></script>        
    </head>
    <body>
        <a href="{{url_for('mainPage')}}">Home</a>
        {%if 'username' not in session %}
        <a href="{{url_for('showLogin')}}">Login </a>
        {% else %}
        <b>{{session.username}}</b>
        <a href="{{url_for('disconnect')}}">Logout </a>
        {% endif %}
    </body>
</html>