<html>
    <head>   
            {% extends "bootstrap/base.html" %}
            <title>Item Catalog</title>
    </head>
    <body>
            {% block navbar %}
                {{nav.mynavbar.render()}}
            {% endblock %}
                {% block content %}
                <div class = "container">
            <div class = 'flash alert-alert-success'>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    
                    {% for message in messages %}
                        <p> <strong class='alert alert-success'> {{ message }} </strong> </p>
                    {% endfor %}
                  {% endif %}
                  {% endwith %}
            </div>
        </div>
    </br>
            {% endblock %}
    </body>
</html>