<html>
  <head> </head>
  <body>
    {% include "header.html" %}
 <div class="container">
      <h1>{{item.name}}</h1>
      <hr>
      <p><strong>Category:</strong> {{category.name}}</p>
      <p><strong>Description:</strong> {{item.description}}</p>
      <a href='{{url_for('editItem', category_id=item.category_id, item_id=item.id )}}' class="btn btn-primary">Edit</a>
      <a href='{{url_for('deleteItem', category_id=item.category_id, item_id=item.id )}}' class="btn btn-danger">Delete</a>
 </div>
  </body>
</html>
