<html>
  <head> </head>
  <body>
    {% include "header.html" %}
<div class="container">
      <h1>Are you sure you want to delete: {{item.name}}?</h1>
      <hr>
<div class="input-group row">
        <form action="{{url_for("deleteItem", category_id=item.category_id, item_id=item.id)}}" method="POST">
            <input type="submit" class="btn btn-danger" value="Delete">
            <a href="{{url_for("showItem",category_id=item.category_id, item_id=item.id)}}" class="btn btn-warning">Cancel</a>
        </form>
</div>
</div>
  </body>
</html>
