<html>
  <head> </head>
  <body>
      {% include "header.html" %}
      <h1>Create Item</h1>
      <form action="{{url_for("createItem")}}" method="POST">
        <label for="name">Name</label>
      </br>
        <input type="text" name="name" placeholder="Enter an item name">
      </br>
        <label for="description">Description</label>
      </br>
        <textarea name="description" placeholder="Enter an item description"></textarea>
    </br>
        <label for="category">Category</label>
    </br>
        <select name="category">
            {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select>
    </br>
        <input type="submit">
      </form>
      <script>
          function getSelectedOption(option){
            return option.options[option.selectedIndex].value;
          }
      </script>
  </body>
</html>
