<html>
  <head> </head>
  <body>
      <h1>{{item.name}}</h1>
      <form action="{{url_for("interactItem",category_id=item.category_id, item_id=item.id)}}" method="POST">
        <label for="name">Name</label>
      </br>
        <input type="text" name="name" placeholder="{{item.name}}" value="{{item.name}}">
      </br>
        <label for="description">Description</label>
      </br>
        <textarea name="description" placeholder="{{item.description}}">{{item.description}}</textarea>
    </br>
        <label for="category">Category</label>
    </br>
        <select name="category">
            {% for category in categories %}
                {% if category.id == item.category_id %}
                    <option value={{category.id}} selected>{{category.name}}</option>
                {% else %}
                    <option value="{{category.id}}">{{category.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </br>
        <input type="submit">
      </form>
      <script>
          function getSelectedOption(option){
            return option.options[option.selectedIndex].value;
          }
      </script>
  </body>
</html>
